.Navbar {
    background-color: green;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.navbar-logo {
    width: auto;
    display: flex;
    align-items: center;
    margin-inline: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.navbar-search {
    background-color: red;
    padding-inline: 5px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search {
    background-color: yellow;
    width: min(400px, 100%);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#clerSearch {
    cursor: pointer;
    display: none;
}

#StartSearch {
    cursor: pointer;
}





.navbar-extra {
    background-color: palevioletred;
    width: 100px;
}


@media only screen and (max-width: 690px) {
    .navbar-logo h2 {
        display: none;
    }
  }